 <div class="container">
        <h1>About me</h1>
        <div class="row justify-content-center">
            <div class="col-9">
                
                <div class="row">
                    
                    <div class="col-lg-4">
                        <table>
                            <tr>
                                <h3>education</h3>
                            </tr>
                        </table>
                        <table class="tableHight">
                            <tr>
                                • LauchCode <br>
                                &nbsp; Web Developemnet <br>
                                 &nbsp; <br>

                                • Webster Univercity <br>
                                &nbsp; BFA in Graphic Design
                            </tr>

                        </table>
                    </div>
                    <div class="col-lg-4">
                        <table>
                            <tr>

                            </tr>
                            <tr>
                                <h3>skills</h3>
                            </tr>
                        </table>
                        <table class="tableHight">
                            <tr>
                                • Angular <br>
                                • JavaScript<br>
                                • TypeScript<br>
                                • CSS<br>
                                • HTML<br>
                                
                                • Adobe Creative Suite<br>
                                
                                • Photography <br>
                                &nbsp; Portrait, Comercial<br>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-4">
                        <table>
                            <tr>

                            </tr>
                            <tr>
                                <h3>experience</h3>
                            </tr>
                        </table>
                        <table class="tableHight">
                            <tr>
                          <ul>
                              <li>
                                Freelance Designer </li>
                                <li>Freelance Photographer</li>

                                <li>Regency-Superior</li>
        
                            &nbsp; Graphic Designer,<br>
                             &nbsp; Photgrapher<br>
                        
                                <li>Wynne Photography </li>
                            Photogropher, Designer<br>
                          </ul>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <a routerLink="/refer">
                        <h2> References </h2></a>
                        <p>

                            “...I am sure Anya will make a great addition to your company.  She takes 
                            direction well, seeking clarification when appropriate.  She also has a great eye, attention to detail, and creative mind that helps to enhance the work she is 
                            able to provide. “

                        </p>
                </div>
            </div>
        </div>
    </div>

