<div class="container">
  <div class="row"> 
    <div class="col-12">
      <h1 class="text-center">Photography</h1>
    </div>
    <div class="col">
<!-- <div class="container mt-3"> -->
  <div id="bootstrapCarousel" class="carousel slide" data-ride="carousel">
    <!-- Slide Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#bootstrapCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#bootstrapCarousel" data-slide-to="1"></li>
      <li data-target="#bootstrapCarousel" data-slide-to="2"></li>
      <li data-target="#bootstrapCarousel" data-slide-to="3"></li>
      <li data-target="#bootstrapCarousel" data-slide-to="4"></li>
      <li data-target="#bootstrapCarousel" data-slide-to="5"></li>
    </ul>

    <!-- The slides to show -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="/assets/photo/photo1.jpg"
           height="600">
      </div>
      <div class="carousel-item">
        <img
          src="https://bn1302files.storage.live.com/y4pB2VZZJn2Vhlp9qxEBnF6Hj6SzcKBHpKnL0fL5BiTbUYE0VJFEeoI8GG7vh10-YMv6P-XdyhqnySS8AG3RBUT0cK5GqVL1BqI0AeUh7pSayfacPt254z0QR3ahGOXpm_AUB-MuQ4HRqsezD_r_Yt31om4EclwioRts_XmLXdDUWz3qMOoj8JDQ_WHebpGOCEGbhVKkIzMOH2Hkxf9x1E9x-oVfBxdVm9VgeNrMmWONMQ/20131110-_MG_0319.jpg?psid=1&width=1000&height=667"
          height="600">
      </div>
      <div class="carousel-item">
        <img
          src="/assets/photo/photo2.jpg"
          height="600">
      </div>
      <div class="carousel-item">
        <img
          src="https://bn1302files.storage.live.com/y4pdZS2t20K9X55ARPFAd5tvGzPW3IL28nOhGKWIEMjeIXP8E1ghR-ChX5_Gse9ly-S3HesoGVVE2rpMkteKxdUwxmYpUniSUrq6qfGKQ6lLfHyaf-eGOW2O7QOEg_AchS7KQKTXcnG30cc6ujUSqKTgQrougLNRaX-stb7dszB_p6lTPsS0QXF5TguNrSNGvW33PGLnly1QQ4oY7v-wFBkjwu6eh6D_lIPX0tWdz2lS-M/20131110-_MG_0326.jpg?psid=1&width=1000&height=667"
          height="600">
      </div>
      <div class="carousel-item">
        <img
          src="/assets/photo/photo3.jpg"
          height="600">
      </div>
      <div class="carousel-item">
        <img
          src="https://bn1302files.storage.live.com/y4p7v3CkPx0xtgPdbGmQ7KgT0VVfuVltvBunGMPLKVL8NmOytNDc8QwJMEieILETbW_92YDofK854PJSDsxMcFz2Fgvc52zWTWhBFlx9AeWpHsdLgrm2IKbUARADOm7080guEb5K79wYFIbw2NlO7SLbbEU4AnpgoZ68VYs8jaBuqYoTX1W5zBtKHCRaWQIq2fLQs4N02k41_DX9Xf-7xIWkcm5KpkgYz7S_YbzTuswPAs/20131110-_MG_0312.jpg?psid=1&width=518&height=346"
          height="600">
      </div>
      <div class="carousel-item">
        <img
          src="/assets/photo/photo4.jpg"
          height="600">
      </div>
      <div class="carousel-item">
        <img
          src="/assets/photo/20131110-_MG_0378.jpg"
          height="600">
      </div>
      <div class="carousel-item">
        <img
          src="https://bn1302files.storage.live.com/y4pYgLuo2uagAPQytIY1hfTQPXnv6G8JTgn1Trx0jOUp_hTxi6o6S5GX4nFh4Zs6GpITbHCj_xnOiy3D984qNCQ5nj6tQX8-FkDbnVYO_dDICgEn4lRxLdMHT0bEIglati5qsoFlX3bx6ySyfdTtS6HYv-31ZD4fANXfkr1yd9003C9liHo5Wl9VY6ItzPz2pn1JnjeMaKpBg7QLLl0ey-sbmJRr8FrXczIUNrwlqgNUtY/20131110-_MG_0372.jpg?psid=1&width=1000&height=667"
          height="600">
      </div>
    </div>

    <!--  Controls (Left and right) -->
    <a class="carousel-control-prev" href="#bootstrapCarousel" data-slide="prev">
      <!-- <span class="carousel-control-prev-icon"></span> -->
    </a>
    <a class="carousel-control-next" href="#bootstrapCarousel" data-slide="next">
      <!-- <span class="carousel-control-next-icon"></span> -->
    </a>
  </div>
<!-- </div> -->
    </div>
  </div>

</div>