    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{title | uppercase}}</h1>
                <h3>Fetch random photos of dogs with 'get' and open API</h3>
                <div class="row">
                    <div class="col-4">
                        <img [src]=items[0] width="300">
                    </div>
                    <div class="col-8">
    <p>

        In this simple tutorial we'll go over how to fetch data from an open API source and use it in Angular.

    </p>
                         
        <h3 style="text-align:left;"> Step 1: fetch data with get method:</h3>
                       <span><code>
                        this.http.get('https://dog.ceo/api/breeds/image/random')

                       </code>
                       </span>
<h3 style="text-align:left;"> Step 2: Push the data in an array:</h3>

<div class="col-12">
    <span>
   
        {{codeSnippet}}<br>
    </span>
</div>
<span>
    Note: hasOwnProperty method checks if we successfully retrieved the data.
</span>

<h3 style="text-align:left;"> Step 3: Use data binding to access the url from the array:</h3>
    <code>
    {{codeSnippet2}}
    </code>  <br>

    <span>  &nbsp; </span>   
                    </div>
                </div>
            </div>
        </div>
    </div>
   

