.container {
    height: 100%;
        /* opacity: .2; */
    background: whitesmoke;
    color: grey;
    text-align: center;
}
img {
    border: 2px solid rgb(168, 182, 195);
    box-shadow: grey 3px 5px 6px;
    margin-top: 30px;
    /* align-items: center; */
}

h1{
   text-align: left; 
   font-size: 160px;
   /* font-display: ; */
   color: rgb(197, 207, 216);
   margin-left: 30px;
   margin-top: 40px;
}

h3 {
    font-size: 28px;
    color: slategrey;
    margin-bottom: 150px;
    margin-top: 10px;
}