<div style="background-image: url('../../images/landing-page.jpg');">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col"><h1>Portfolio</h1></div>
            

            <!-- <div class="col-12"> -->
                <div class="row justify-content-end">
        
                    <div class="col-md-4">
                        
                        <table>
                            
                            <tr>
                                <a routerLink="/web">
                                <img src="https://bn1302files.storage.live.com/y4p_hWokWq5BD7U_fzIyFqfCsk2qYy86DUI9eBzHW-syGs9DnGEMc0P5qJiz6b891hbXq9xUlnxNxPdQ2sNEci6bObG2CSfoAcs4sDmvvpp-i98EAyTnavxhAJBOtfkDzkApCtinpGiVVYw1X7v7tuuEAaDg8aFmjFEtcorPj9kgux9riIDG8nqLsR0LwDMX3hQIRxENjq8ppUfyYa3_IQ3JX3X16g4qVLiIA211s7mxts/web-sm.jpg?psid=1&width=692&height=696"
                                width="200">
                            </a>
                            </tr>
                            <tr>
                                <a routerLink="/web"> <h3>web</h3></a>
                            </tr>
                        </table>
                    
                    </div>
                    <div class="col-md-4">
                        <table>
                            
                            <tr><a routerLink="/print">
                                <img src="https://bn1302files.storage.live.com/y4pnVbxmiDaQR0qtx5EUmHmSCD-0nOHF6Ff7XOcCXLDrTZBmeN7zoAUJpVfRXjt3cafcHdOPZLibmB0uki_yvJTcTwk2NZpRtA4R0NwciIHxCeu4etJm-gNAz__fowQL3bS1Eu-Gwk8yRllaI-csYhw8URPUJpSCpx9SmNIqeLWDeka0p5D4y5FRpmMHqCcpx88KeP0e_4xfqGH1CtfEsQkkKeD2RnvxryI-XQb0oTJo4Q/print-sm.jpg?psid=1&width=685&height=692"
                                width="200"></a>
                            </tr>
                            <tr>
                                <a routerLink="/print"> <h3>print</h3></a>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table>
                            
                            <tr><a routerLink="/photo">
                                <img src="https://bn1302files.storage.live.com/y4pxoQsW2xqbMSqNvGFYDQoZGEdgmLCX7ac_2Hxb7UZ5KXgQnVvu7hbI3A-2Oo_eroWnL4q2g_8M3eEtq65cmW4Hl-WHx9REM4sfrtGkU8ThFQfhv0OwH2PBJzN3AYGnDwFlOX4_lIWbVeyl91XwGMzWbkh83f3QVPf2JKEwbhA219aSoe4U-g8jA5-bnR9Mr8-W-0GvQcg9Rht_yKreIPbevBDOwDBG-uPp6epO82oKgs/photo-sm.jpg?psid=1&width=689&height=692"
                                width="200"
                                ></a>
                            </tr>
                            <tr>
                                <a routerLink="/photo"><h3>photo</h3></a>
                            </tr>
                        </table>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </div>
    </div>
