 <div class="container">
        <div class="row">

          <div class="col-sm"></div>
          <div class="col-sm"></div>
          
            
                    <div class="col-sm">
                        <a routerLink="/">
                        <h2>home</h2></a>
                    </div>
                    <div class="col">
                      <div class="dropdown">
                        <a routerLink="portfolio"><h2>
                        <span>portfolio</span></h2></a>
                        <div class="dropdown-content">
                        <a routerLink="web"><p>web</p></a><br>
                        <a routerLink="print"><p> print</p></a><br>
                        <a routerLink="photo"><p>photo </p></a>
                      
                        </div>
                      </div> 
                    </div>
                    <div class="col-sm">
                      <a routerLink="about-me">
                        <h2> about me</h2></a>
                    </div>
                    <div class="col-sm">
                      <a routerLink="contact">
                        <h2>contact</h2></a>
                    </div>
                    
              
            
          </div>
    </div>

