<div class="container">
    <div class="row justify-content-md-center">
        <div class="col"></div>
                <div class="col col-lg-2">
                    <img class="top-margin" src="https://bn1302files.storage.live.com/y4pckjkP4hA4P1PPzhqR6ADa-qS2HRs_3f6O64RDjEMN0EPaToCBF8GSZqtr-KDJ9GXLnqLtXsR4uG4fMAyk_dD8UUiqzuIG0NdDr--wxiYY86B-BNb0SfeLRLhhuTSkoR7sEXZMqrA-RtL4JVICAnLvKaWoEldja4CBKFc8pnk618ongIZzw-2dmGin3wW-bd0PX9pvRhVrJZ0_5wFoc_-d9gd8XI-VkbQg8Rflfz2Gvk/portrait.png?psid=1&width=373&height=380"
                    width="155">
                   
                </div>
                <div class="col-12 col-md-auto">
                    <H1 class="top-margin">Anya Wynne</H1>
                    <a routerLink="/web"> <h2> Web Development</h2></a>
                    <a routerLink="/print"> <h2> Print Design</h2></a>
                    <a routerLink="/photo"> <h2> Photography</h2></a>
                </div>
    </div>
</div>
<app-portfolio></app-portfolio>
<app-about-me></app-about-me>
<app-contact></app-contact>
