<div class="container">
    <div class="row justify-content-md-center">
        <div class="col"></div>
                <div class="col col-lg-2">
                    <img class="top-margin" src="https://bn1302files.storage.live.com/y4p5IHqRgBqlVkvB3Xis4B7XGMgICDuOAXFTfqh9M7FR7qRnkVZ0G16j6hF_G9uTGkGqS5dmL4f3AF5lzGHTEvn-aJPq7mWDjOykyWPqhg6Uo4ViOHw2rCDJobpZ_-iZjZ-SAytQc7-xjmKp9oMGH2aKeznPdIVGRAI9bVJym8M3jEt8nmRBTCdIz1p64GfZOPmFh1UhPQN0Z9NmLyU_lQ0t918a0pkfk6gDQnA-XSrOuw/portrait.png?psid=1&width=294&height=520"
                    width="155">
                   
                </div>
                <div class="col-12 col-md-auto">
                    <H1 class="top-margin">Anya Wynne</H1>
                    <a routerLink="/web"> <h2> Web Development</h2></a>
                    <a routerLink="/print"> <h2> Print Design</h2></a>
                    <a routerLink="/photo"> <h2> Photography</h2></a>
                </div>
    </div>
</div>
<app-portfolio></app-portfolio>
<app-about-me></app-about-me>
<app-contact></app-contact>
