<!-- <div class="color">
    
</div> -->
<div class="container">
    <div class="row">
        <div class="shadow" style="margin-left: 80px;">
            <p>
To Whom It May Concern: <br>
It is my pleasure to recommend Anya Wynne for a position with your organization.  I was fortunate to be able to work with her this past winter and spring when I ran for school board within the Pattonville School District.  My original graphic designer was expecting her first child and unable to complete her work.  Anya was able to step in seamlessly, providing me with appropriate feedback for the design work and for my campaign platform as well.  
She was able to create designs that were as pristine as I preferred them to be with fine color blocking and color coordination.  She worked to ensure fonts were as close as possible to those previously used and I am certain the untrained eye would not be able to tell different fonts or even two different graphic designers were used during my campaign.  She was also both quick and flexible in helping to change campaign materials when the 
2020 Municipal Election had to be postponed due to COVID-19.  She was very prompt in her design creations, something I found amazing given many of us at our elementary school were home with our small children during the early phases of the pandemic.  Despite many distractions, she was able to produce great work that had an impact upon our District.  I still hold that I had the most visually stunning campaign in the history of Pattonville politics.<br>
I am sure Anna will make a great addition to your company.  She takes direction well, seeking clarification when appropriate.  She also has a great eye, attention to detail, and creative mind that helps to enhance the work she is able to provide.  <br>
Please let me know if you have any further questions and I will be happy to help you with your decision making.
<br>Sincerely,<br>
 
Summer Johnson, PsyD<br>
Clinical Psychologist

            </p>
        </div>
    </div>
    
</div>
