.container {
    height: 100%;
    /* background-image: url('https://bn1302files.storage.live.com/y4pqcxH_y7Js6hNTPDaIfyMhxMe9R8hAK2a01d15cN5Uz58F8DYfAj3cQp87jRso6MU5jBp5OkMT4O4h4wI7JbVW4mydpmNJJfceWxffTWtRcoCTsAF7OT8APIKS9dDdnLfr-ZFaWZBIbaE-pJYQP2dyQtYlHQXozl-6Xe-79qZsTwyKBpj6W8fTxgYUsxnsKE2-ivfn0y9jUL2b1FnWYfQm9PjcH0M8o7C7meoMvPF_TE/referances-2.jpg?psid=1&width=1137&height=879'); */
    background-repeat: no-repeat;
    background-size: 1200px;
    /* opacity: .2; */
    /* background: black; */
    color: white;
    background-color: rgb(199, 208, 218);

}

.shadow {
    margin-top: 20px;
    box-shadow: 10px 40px 16px 10px rgba(0,0,0,0.2);
    height: 950px;
    width: 1000px;
    background-color: white;
    margin-bottom: 30px;
}

p {
    margin-top: 65px;
    color: slategray;
    margin: 120px;
    text-align: justify;
    font-size: 16px;
    line-height: 35px;
    margin-top: 80px;

}

/* .color {
    background-color: rgb(199, 208, 218);
} */