.container {
    height: 850px;
    background-image: url('https://bn1302files.storage.live.com/y4pqcxH_y7Js6hNTPDaIfyMhxMe9R8hAK2a01d15cN5Uz58F8DYfAj3cQp87jRso6MU5jBp5OkMT4O4h4wI7JbVW4mydpmNJJfceWxffTWtRcoCTsAF7OT8APIKS9dDdnLfr-ZFaWZBIbaE-pJYQP2dyQtYlHQXozl-6Xe-79qZsTwyKBpj6W8fTxgYUsxnsKE2-ivfn0y9jUL2b1FnWYfQm9PjcH0M8o7C7meoMvPF_TE/referances-2.jpg?psid=1&width=1137&height=879');
    background-repeat: no-repeat;
    background-size: 1200px;
    /* opacity: .2; */
    /* background: black; */
    color: white;

}